#article{
    text-align: center;
    color: black;
    font-size: large;
}

#titulo{
    text-align: center;
    color: black;
}

#partedois{
    text-align: center;
    color: black;
    font-size: large;
}

#hover{
    color: rgb(255, 187, 0);
}